## SETUP

In [42]:
from IPython.display import display, Markdown, Latex
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy

## BASES

Base: https://data.worldbank.org/indicator/SN.ITK.DEFC.ZS

In [27]:
dfHunger = pd.read_csv('datasets/hunger.csv')

In [47]:
dfHunger.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Aruba,ABW,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.100000,22.200000,23.400000,25.500000,27.600000,29.300000,30.300000,NaN,NaN,NaN
2,Angola,AGO,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,40.400000,38.200000,35.100000,30.800000,27.000000,24.800000,23.900000,NaN,NaN,NaN
3,Albania,ALB,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.400000,6.600000,6.000000,5.700000,5.500000,5.500000,5.500000,NaN,NaN,NaN
4,Andorra,AND,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.676187,9.403567,11.083189,11.224646,11.459653,11.782652,12.051903,NaN,NaN,NaN
6,United Arab Emirates,ARE,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.900000,5.600000,5.100000,4.500000,3.900000,3.100000,2.500000,NaN,NaN,NaN
7,Argentina,ARG,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.000000,3.900000,3.700000,3.500000,3.400000,3.600000,3.800000,NaN,NaN,NaN
8,Armenia,ARM,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.500000,5.600000,5.100000,4.600000,4.300000,4.300000,4.300000,NaN,NaN,NaN
9,American Samoa,ASM,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
dfHunger.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
1961              float64
1962              float64
1963              float64
1964              float64
1965              float64
1966              float64
1967              float64
1968              float64
1969              float64
1970              float64
1971              float64
1972              float64
1973              float64
1974              float64
1975              float64
1976              float64
1977              float64
1978              float64
1979              float64
1980              float64
1981              float64
1982              float64
1983              float64
1984              float64
1985              float64
                   ...
1990              float64
1991              float64
1992              float64
1993              float64
1994              float64
1995              float64
1996              float64
1997              float64
1998              float64
1999              float64
2000              float64
2001              float64
2002              float64
2003              float64
2004              float64
2005              float64
2006              float64
2007              float64
2008              float64
2009              float64
2010              float64
2011              float64
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
2017              float64
2018              float64
Unnamed: 63       float64
Length: 64, dtype: object

In [45]:
countryCodeHunger2016 = {}
for i in range(0, dfHunger.shape[0]):
    country_code = dfHunger.loc[i]["Country Code"]
    hungry2016 = dfHunger.loc[i]["2016"]
    if not numpy.isnan(hungry2016):
        countryCodeHunger2016[country_code] = hungry2016

In [46]:
countryCodeHunger2016

{'AFG': 30.3,
 'AGO': 23.9,
 'ALB': 5.5,
 'ARB': 12.051903242093301,
 'ARE': 2.5,
 'ARG': 3.8,
 'ARM': 4.3,
 'AUS': 2.5,
 'AUT': 2.5,
 'AZE': 2.5,
 'BEL': 2.5,
 'BEN': 10.4,
 'BFA': 21.3,
 'BGD': 15.2,
 'BGR': 3.0,
 'BIH': 2.5,
 'BLR': 2.5,
 'BLZ': 6.5,
 'BOL': 19.8,
 'BRA': 2.5,
 'BRB': 3.7,
 'BRN': 2.6,
 'BWA': 28.5,
 'CAF': 61.8,
 'CAN': 2.5,
 'CEB': 2.54898140473599,
 'CHE': 2.5,
 'CHL': 3.3,
 'CHN': 8.7,
 'CIV': 20.7,
 'CMR': 7.3,
 'COG': 37.5,
 'COL': 6.5,
 'CPV': 12.3,
 'CRI': 4.4,
 'CSS': 7.301093429660799,
 'CUB': 2.5,
 'CYP': 4.6,
 'CZE': 2.5,
 'DEU': 2.5,
 'DJI': 19.7,
 'DMA': 5.2,
 'DNK': 2.5,
 'DOM': 10.4,
 'DZA': 4.7,
 'EAP': 9.446782230696789,
 'EAR': 12.9873826032795,
 'EAS': 8.73129376362563,
 'ECA': 3.2373262947677004,
 'ECS': 2.83247400988108,
 'ECU': 7.8,
 'EGY': 4.8,
 'EMU': 2.5115618442283703,
 'ESP': 2.5,
 'EST': 2.8,
 'ETH': 21.4,
 'EUU': 2.51467488086654,
 'FCS': 26.1502685512885,
 'FIN': 2.5,
 'FJI': 4.4,
 'FRA': 2.5,
 'GAB': 9.4,
 'GBR': 2.5,
 'GEO': 7.4,
 'GHA': 6.1,
 'GIN': 19.7,
 'GMB': 9.6,
 'GNB': 26.0,
 'GRC': 2.5,
 'GTM': 15.8,
 'GUY': 7.5,
 'HIC': 2.69994582976468,
 'HKG': 2.5,
 'HND': 15.3,
 'HPC': 25.3666214896055,
 'HRV': 2.5,
 'HTI': 45.8,
 'HUN': 2.5,
 'IBD': 9.57840573905327,
 'IBT': 12.119535079854698,
 'IDA': 20.569652164523898,
 'IDB': 17.1289514429604,
 'IDN': 7.7,
 'IDX': 22.513055555022202,
 'IND': 14.8,
 'IRL': 2.5,
 'IRN': 4.9,
 'IRQ': 27.7,
 'ISL': 2.5,
 'ISR': 2.5,
 'ITA': 2.5,
 'JAM': 8.9,
 'JOR': 13.5,
 'JPN': 2.5,
 'KAZ': 2.5,
 'KEN': 24.2,
 'KGZ': 6.5,
 'KHM': 18.5,
 'KIR': 3.1,
 'KOR': 2.5,
 'KWT': 2.5,
 'LAC': 6.49644519632627,
 'LAO': 16.6,
 'LBN': 10.9,
 'LBR': 38.8,
 'LCN': 6.20994483927287,
 'LDC': 23.4162548410884,
 'LIC': 28.162039611496898,
 'LKA': 10.9,
 'LMC': 13.8355074275173,
 'LMY': 12.3959983928311,
 'LSO': 12.8,
 'LTE': 7.61807903545738,
 'LTU': 2.5,
 'LUX': 2.5,
 'LVA': 2.5,
 'MAC': 11.4,
 'MAR': 3.9,
 'MDG': 43.1,
 'MDV': 11.0,
 'MEA': 9.134027672950461,
 'MEX': 3.8,
 'MIC': 10.763987595675198,
 'MKD': 4.1,
 'MLI': 6.0,
 'MLT': 2.5,
 'MMR': 10.5,
 'MNA': 9.95247178231113,
 'MNE': 2.5,
 'MNG': 18.7,
 'MOZ': 30.5,
 'MRT': 11.3,
 'MUS': 5.8,
 'MWI': 26.3,
 'MYS': 2.9,
 'NAC': 2.5,
 'NAM': 25.4,
 'NCL': 11.6,
 'NER': 14.4,
 'NGA': 11.5,
 'NIC': 16.2,
 'NLD': 2.5,
 'NOR': 2.5,
 'NPL': 9.5,
 'NZL': 2.5,
 'OED': 2.64051153419417,
 'OMN': 5.4,
 'OSS': 15.4279497810359,
 'PAK': 20.5,
 'PAN': 9.2,
 'PER': 8.8,
 'PHL': 13.7,
 'POL': 2.5,
 'PRE': 23.036106435950398,
 'PRK': 43.4,
 'PRT': 2.5,
 'PRY': 11.2,
 'PSS': 6.836416468689441,
 'PST': 2.54135795973477,
 'PYF': 4.4,
 'ROU': 2.5,
 'RUS': 2.5,
 'RWA': 36.1,
 'SAS': 15.6301350458638,
 'SAU': 5.5,
 'SDN': 25.2,
 'SEN': 11.3,
 'SLB': 12.3,
 'SLE': 25.5,
 'SLV': 10.3,
 'SRB': 5.6,
 'SSA': 21.3302713427987,
 'SSF': 21.3302713427987,
 'SST': 13.2112425502948,
 'STP': 10.2,
 'SUR': 7.6,
 'SVK': 2.7,
 'SVN': 2.5,
 'SWE': 2.5,
 'SWZ': 20.7,
 'TCD': 39.7,
 'TEA': 9.02026774480183,
 'TEC': 3.16690867782655,
 'TGO': 16.2,
 'THA': 9.0,
 'TKM': 5.5,
 'TLA': 6.27964539672071,
 'TLS': 27.2,
 'TMN': 9.95247178231113,
 'TSA': 15.6301350458638,
 'TSS': 21.3302713427987,
 'TTO': 4.9,
 'TUN': 4.9,
 'TUR': 2.5,
 'TZA': 32.0,
 'UGA': 41.4,
 'UKR': 3.3,
 'UMC': 7.254681311982241,
 'URY': 2.5,
 'USA': 2.5,
 'UZB': 7.4,
 'VCT': 5.7,
 'VEN': 11.7,
 'VNM': 10.8,
 'VUT': 7.1,
 'WLD': 10.8,
 'WSM': 3.1,
 'YEM': 34.4,
 'ZAF': 6.1,
 'ZMB': 44.5,
 'ZWE': 46.6}

In [6]:
pdHunger_country_region_income = pd.read_csv('datasets/hunger_country_region_income.csv')

In [7]:
pdHunger_country_region_income.head(10)

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,Central Bureau of Statistics and Central Bank ...,Aruba,NaN
1,AFG,South Asia,Low income,Central Statistics Organization; World Bank st...,Afghanistan,NaN
2,AGO,Sub-Saharan Africa,Lower middle income,IMF ; Source of population estimates: UN Popul...,Angola,NaN
3,ALB,Europe & Central Asia,Upper middle income,Albanian Institute of Statistics ; Source of p...,Albania,NaN
4,AND,Europe & Central Asia,High income,"Government of Andorra, Department of Statistic...",Andorra,NaN
5,ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,Arab World,NaN
6,ARE,Middle East & North Africa,High income,National Bureau of Statistics & Federal Compet...,United Arab Emirates,NaN
7,ARG,Latin America & Caribbean,High income,National Institute of Statistics and Census (I...,Argentina,NaN
8,ARM,Europe & Central Asia,Upper middle income,National Statistical Service of the Republic o...,Armenia,NaN
9,ASM,East Asia & Pacific,Upper middle income,BEA: https://www.bea.gov/national/gdp_territor...,American Samoa,NaN

In [8]:
dfHunger_country_region_income = pd.DataFrame(pdHunger_country_region_income)

In [12]:
dfHunger_country_region_income.loc[0]

Country Code                                                  ABW
Region                                  Latin America & Caribbean
IncomeGroup                                           High income
SpecialNotes    Central Bureau of Statistics and Central Bank ...
TableName                                                   Aruba
Unnamed: 5                                                    NaN
Name: 0, dtype: object

In [31]:
countrysIncome = {}
for i in range(0, dfHunger_country_region_income.shape[0]):
    income = dfHunger_country_region_income.loc[i]["IncomeGroup"]
    country_code = dfHunger_country_region_income.loc[i]["Country Code"]
    if income in countrysIncome:
        countrysIncome[income].append(country_code)
    else:
        countrysIncome[income] = []
        countrysIncome[income].append(country_code)

In [32]:
countrysIncome

{'High income': ['ABW',
  'AND',
  'ARE',
  'ARG',
  'ATG',
  'AUS',
  'AUT',
  'BEL',
  'BHR',
  'BHS',
  'BMU',
  'BRB',
  'BRN',
  'CAN',
  'CHE',
  'CHI',
  'CHL',
  'CUW',
  'CYM',
  'CYP',
  'CZE',
  'DEU',
  'DNK',
  'ESP',
  'EST',
  'FIN',
  'FRA',
  'FRO',
  'GBR',
  'GIB',
  'GRC',
  'GRL',
  'GUM',
  'HKG',
  'HRV',
  'HUN',
  'IMN',
  'IRL',
  'ISL',
  'ISR',
  'ITA',
  'JPN',
  'KNA',
  'KOR',
  'KWT',
  'LIE',
  'LTU',
  'LUX',
  'LVA',
  'MAC',
  'MAF',
  'MCO',
  'MLT',
  'MNP',
  'NCL',
  'NLD',
  'NOR',
  'NZL',
  'OMN',
  'PAN',
  'PLW',
  'POL',
  'PRI',
  'PRT',
  'PYF',
  'QAT',
  'SAU',
  'SGP',
  'SMR',
  'SVK',
  'SVN',
  'SWE',
  'SXM',
  'SYC',
  'TCA',
  'TTO',
  'URY',
  'USA',
  'VGB',
  'VIR'],
 'Low income': ['AFG',
  'BDI',
  'BEN',
  'BFA',
  'CAF',
  'COD',
  'COM',
  'ERI',
  'ETH',
  'GIN',
  'GMB',
  'GNB',
  'HTI',
  'LBR',
  'MDG',
  'MLI',
  'MOZ',
  'MWI',
  'NER',
  'NPL',
  'PRK',
  'RWA',
  'SEN',
  'SLE',
  'SOM',
  'SSD',
  'SYR',
  'TCD',
  'TGO',
  'TJK',
  'TZA',
  'UGA',
  'YEM',
  'ZWE'],
 'Lower middle income': ['AGO',
  'BGD',
  'BOL',
  'BTN',
  'CIV',
  'CMR',
  'COG',
  'CPV',
  'DJI',
  'EGY',
  'FSM',
  'GEO',
  'GHA',
  'HND',
  'IDN',
  'IND',
  'KEN',
  'KGZ',
  'KHM',
  'KIR',
  'LAO',
  'LKA',
  'LSO',
  'MAR',
  'MDA',
  'MMR',
  'MNG',
  'MRT',
  'NGA',
  'NIC',
  'PAK',
  'PHL',
  'PNG',
  'PSE',
  'SDN',
  'SLB',
  'SLV',
  'STP',
  'SWZ',
  'TLS',
  'TUN',
  'UKR',
  'UZB',
  'VNM',
  'VUT',
  'XKX',
  'ZMB'],
 'Upper middle income': ['ALB',
  'ARM',
  'ASM',
  'AZE',
  'BGR',
  'BIH',
  'BLR',
  'BLZ',
  'BRA',
  'BWA',
  'CHN',
  'COL',
  'CRI',
  'CUB',
  'DMA',
  'DOM',
  'DZA',
  'ECU',
  'FJI',
  'GAB',
  'GNQ',
  'GRD',
  'GTM',
  'GUY',
  'IRN',
  'IRQ',
  'JAM',
  'JOR',
  'KAZ',
  'LBN',
  'LBY',
  'LCA',
  'MDV',
  'MEX',
  'MHL',
  'MKD',
  'MNE',
  'MUS',
  'MYS',
  'NAM',
  'NRU',
  'PER',
  'PRY',
  'ROU',
  'RUS',
  'SRB',
  'SUR',
  'THA',
  'TKM',
  'TON',
  'TUR',
  'TUV',
  'VCT',
  'VEN',
  'WSM',
  'ZAF'],
 nan: ['ARB',
  'CEB',
  'CSS',
  'EAP',
  'EAR',
  'EAS',
  'ECA',
  'ECS',
  'EMU',
  'EUU',
  'FCS',
  'HIC',
  'HPC',
  'IBD',
  'IBT',
  'IDA',
  'IDB',
  'IDX',
  'LAC',
  'LCN',
  'LDC',
  'LIC',
  'LMC',
  'LMY',
  'LTE',
  'MEA',
  'MIC',
  'MNA',
  'NAC',
  'OED',
  'OSS',
  'PRE',
  'PSS',
  'PST',
  'SAS',
  'SSA',
  'SSF',
  'SST',
  'TEA',
  'TEC',
  'TLA',
  'TMN',
  'TSA',
  'TSS',
  'UMC',
  'WLD']}