# T1.3

## Integrantes:

* Giulia Duncan Coutinho - 1410398
* Matheus Falcão - 1410962
* Igor Vieira - 1410492

A partir de dados de pobreza e de educação, criem alguns modelos de regressão linear (variando as features) para tentar prever a população carcerária de cada país. Avaliem os modelos e indique qual foi o melhor.

In [53]:
from IPython.display import display, Markdown, Latex
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import numpy as np

## Desigualdade

In [30]:
years = [str(item) for item in list(range(2010, 2018))] + ['Country']
df_inequality = pd.read_csv("datasets/Coefficient of Human Inequality.csv", encoding = "ISO-8859-1", skiprows=1, usecols=years).set_index("Country", drop = True)
df_inequality.head(5)

              2010  2011  2012  2013  2014  2015  2016  2017
Country
 Afghanistan   NaN   NaN   NaN  30.0  30.0  30.4  28.2  28.2
 Albania      12.7  13.8  13.8  13.4  13.4  13.4  12.2  10.0
 Algeria       NaN   NaN   NaN   NaN   NaN   NaN   NaN  20.1
 Angola       38.8   NaN  43.6  43.6  36.6  36.6  32.3  32.3
 Argentina    19.0  18.7  18.7  15.3  14.6  15.2  14.0  13.9

## Educação

In [29]:
years = [str(item) for item in list(range(1990, 2018))] + ['Country']
df_education = pd.read_csv("datasets/Education Index.csv",  encoding = "ISO-8859-1", skiprows=1, usecols=years).set_index("Country", drop = True)
df_education.head(5)

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.122,0.133,0.145,0.156,0.168,0.179,0.190,0.202,0.213,0.224,...,0.347,0.359,0.371,0.382,0.390,0.398,0.406,0.410,0.410,0.415
Albania,0.584,0.589,0.558,0.543,0.542,0.551,0.558,0.571,0.580,0.586,...,0.646,0.652,0.673,0.693,0.730,0.732,0.733,0.733,0.742,0.745
Algeria,0.385,0.395,0.405,0.414,0.424,0.431,0.443,0.458,0.473,0.487,...,0.588,0.608,0.626,0.644,0.652,0.660,0.661,0.662,0.663,0.664
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.661,0.661,0.662,0.663,0.715,0.715,0.716,0.715,0.714,0.714
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.276,...,0.390,0.404,0.398,0.423,0.435,0.447,0.460,0.472,0.487,0.498

# Brasil

## Pop Carcerária BRASIL

In [82]:
df_prison = pd.read_csv("datasets/pop_carceraria_brasil.csv",  encoding = "ISO-8859-1").set_index("Country", drop = True)
df_prison.head(10)

,2000,2002,2004,2006,2008,2010,2012,2014,2016
Country,,,,,,,,,
Brazil,232.775,239.345,336.358,401.236,451.429,496.251,548.003,622.202,726.712

Preenchendo dados que faltam com média

In [83]:
df_prison.insert(1, '2001', (df_prison['2000'] + df_prison['2002'])/2)
df_prison.insert(3, '2003', (df_prison['2002'] + df_prison['2004'])/2)
df_prison.insert(5, '2005', (df_prison['2004'] + df_prison['2006'])/2)
df_prison.insert(7, '2007', (df_prison['2006'] + df_prison['2008'])/2)
df_prison.insert(9, '2009', (df_prison['2008'] + df_prison['2010'])/2)
df_prison.insert(11, '2011', (df_prison['2010'] + df_prison['2012'])/2)
df_prison.insert(13, '2013', (df_prison['2012'] + df_prison['2014'])/2)
df_prison.insert(15, '2015', (df_prison['2014'] + df_prison['2016'])/2)
df_prison.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country,,,,,,,,,,,,,,,,,
Brazil,232.775,236.06,239.345,287.8515,336.358,368.797,401.236,426.3325,451.429,473.84,496.251,522.127,548.003,585.1025,622.202,674.457,726.712

In [84]:
df_prison_brazil = df_prison.loc["Brazil", : ]
df_prison_brazil

2000    232.7750
2001    236.0600
2002    239.3450
2003    287.8515
2004    336.3580
2005    368.7970
2006    401.2360
2007    426.3325
2008    451.4290
2009    473.8400
2010    496.2510
2011    522.1270
2012    548.0030
2013    585.1025
2014    622.2020
2015    674.4570
2016    726.7120
Name: Brazil, dtype: float64

## Educação BRASIL

In [71]:
df_education_brazil = df_education.loc[" Brazil", :]
df_education_brazil

1990    0.463
1991    0.475
1992    0.487
1993    0.499
1994    0.511
1995    0.523
1996    0.535
1997    0.547
1998    0.559
1999    0.572
2000    0.584
2001    0.597
2002    0.610
2003    0.595
2004    0.593
2005    0.593
2006    0.589
2007    0.588
2008    0.608
2009    0.610
2010    0.619
2011    0.622
2012    0.630
2013    0.655
2014    0.664
2015    0.680
2016    0.686
2017    0.686
Name:  Brazil, dtype: float64

## Desigualdade BRASIL

In [87]:
df_ineq_brazil = df_inequality.loc[" Brazil", :]
df_ineq_brazil

2010    26.6
2011    26.9
2012    26.5
2013    26.3
2014    25.6
2015    25.0
2016    23.6
2017    23.2
Name:  Brazil, dtype: float64

# Correlação entre educação e pop carcerária

## Prever 2016 usando dados de 2000 até 2015

In [98]:
df = pd.DataFrame()
# variavel preditora
df['x'] = df_education.loc[" Brazil", '2000':'2015'].values
# variavel alvo
df['y'] = df_prison.loc["Brazil", '2000':'2015'].values
df.head(20)

        x         y
0   0.584  232.7750
1   0.597  236.0600
2   0.610  239.3450
3   0.595  287.8515
4   0.593  336.3580
5   0.593  368.7970
6   0.589  401.2360
7   0.588  426.3325
8   0.608  451.4290
9   0.610  473.8400
10  0.619  496.2510
11  0.622  522.1270
12  0.630  548.0030
13  0.655  585.1025
14  0.664  622.2020
15  0.680  674.4570

In [101]:
x_v = df[['x']]
y_v = df[['y']]

# criando e treinando o modelo
model = LinearRegression()
model.fit(x_v, y_v)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [104]:
# coeficientes encontrados
model.coef_

array([[ 4062.45528682]])

In [107]:
model.score(x_v, y_v)

0.70576584243682183

NameError: name 'X_sm' is not defined